In [61]:
import pandas as pd
import numpy as np
import folium
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json

from geopy.geocoders import Nominatim # for lat, long

import requests # library to handle requests
from pandas import json_normalize 

import matplotlib.cm as cm
import matplotlib.colors as colors

print('Libraries imported.')

Libraries imported.

In [62]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [63]:
 df1, df2, df3 = df

In [64]:
print("DataFrame's shape: {}".format(df1.shape))
df1.head()

DataFrame's shape: (180, 3)

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [65]:
neighbor_bool = df1[['Neighborhood']] != np.nan
borough_bool = df1[['Borough']] != 'Not assigned'
clean_rows = neighbor_bool.iloc[:,0] * borough_bool.iloc[:,0]

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/computation/expressions.py:178: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  f"evaluating in Python space because the {repr(op_str)} "

In [66]:
df1_cleaned = df1[clean_rows].reset_index(drop=True)

In [67]:
neighborhoods_comma = [','.join(el.split('/')) if '/' in el else el for el in df1_cleaned['Neighborhood']]
df1_cleaned['Neighborhood'] = neighborhoods_comma

In [68]:
df1_cleaned.head(10)

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government
5         M9A         Etobicoke                              Islington Avenue
6         M1B       Scarborough                               Malvern , Rouge
7         M3B        North York                                     Don Mills
8         M4B         East York              Parkview Hill , Woodbine Gardens
9         M5B  Downtown Toronto                     Garden District , Ryerson

In [69]:
print('Number of rows: ', df1_cleaned.shape[0])

Number of rows:  103